<head>
    <title>Musicians Across the World</title>
</head>
<body>  
    <h2>Welcome Musicians</h2>

    <a mimetype= "text/plain" href = "/info">Click here to go to web form</a>

    <br><br>

    <a mimetype= "text/plain" href = "/display">Click here to go to see the listing of Musicians</a>

</body></html>