<head>
    <title>Listing</title>
</head>
<body>  
    <h2>List of Musicians</h2>

    {{ if . }}
    {{range . }}
    <ul>
        
        <strong>--{{ .Full_name }}</strong>
        <br>
        <strong>--{{ .Album }}</strong>
        <br>
        <strong>--{{ .Date_released }}</strong>
        <br>
        <strong>--{{ .Genre }}</strong>
        <br>
        <strong>--{{ .Artist }}</strong>
    </ul>
    {{end}}
    {{else}}
    <p>Nothing to see here. Move along...</p>
    {{end}}

    <a mimetype= "text/plain" href = "/">Click here to go to Home Page</a>
    <br>
    <a mimetype= "text/plain" href = "/info">Click here to go to web form</a>

</body></html>